@import '../../../theme/variables.scss';
.desc-title {
    font-family: $basker;
    margin-bottom: 1.5em;
    @include font-size-tit();
}

.desc-text {
    font-family: $lato;
    margin-top: -20px;
    @include font-size-text();
}

.change-org{
  
  .flyer{
    max-height: 500px;
  }

  .title {
    @include font-size-tit();
  }

  .text {
      color: $negro;
  }
  
  .btn-change {
    background: #ec2c22;
    color: $blanco;
    font-weight: bold;
    margin: 0 auto;
    padding: 13px 60px;
    font-size: 20px;
    border-radius: 30px;
  }
  
}
