<div class="project-card mb-3 row mx-0">

    <div class="col-12 col-md-4 col-img" [style.background-image]="backgroundImage" [routerLink]="['/proyecto',project.slug]" fragment="activa">
        <!--<div class="project-title">{{project.name}}</div>-->
    </div>

    <div class="col-12 col-md-8 py-4 col-txt">
        <div class="project-description pb-2" [innerHTML]="projectDescription"></div>
        <div class="project-link">
            <button class="btn btn-primary btn-aec" type="button" [routerLink]="['/proyecto',project.slug]" fragment="activa">Activá a lxs políticxs</button>
        </div>
    </div>

</div>